.header-bg {
  background-color: var(--cor-1);
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.header img {
  max-width: 160px;
}

/* Menu hamburguer */

#burguer {
  font-size: 3rem;
  color: var(--cor-6);
  text-align: center;
  cursor: pointer;
  position: relative;
  z-index: 1001; /* maior que o menu */
}

#burguer:hover {
  color: var(--cor-5);
}

#itens {
  position: fixed;
  top: 0;
  right: -100%;
  width: 60vw;
  height: 100vh;
  background-color: var(--cor-2);
  color: var(--cor-6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 3.6rem;
  transition: right 0.3s ease-in-out;
  z-index: 999; /* para garantir que fique sobre o conteúdo */
}

#itens.show {
  right: 0;
}

#itens a {
  display: block;
  margin-top: 3rem;
  width: 100%;
  padding: 1rem;
  text-decoration: none;
  color: var(--cor-6);
}
