/* Main */
main {
    margin-top: 8rem;
    text-align: center;
}

h1 {
    position: relative;
    margin-bottom: 3.2rem;
    display: inline-block; /* Garante que o título tenha largura proporcional */
}

h1::before,
h1::after {
    content: "";
    position: absolute;
    height: 6px; /* Define a altura da linha */
    background: var(--cor-2); /* Cor da linha */
    z-index: -1;
    width: 51.8vw; /* A linha agora ocupa 50% da largura da tela, o que faz com que ela saia das bordas do título */
}

h1::before {
    top: -1rem; /* Ajusta a linha acima do título */
    left: -50vw; /* A linha começa 50% antes da primeira letra */
}

h1::after {
    bottom: -1rem; /* Ajusta a linha abaixo do título */
    right: -50vw; /* A linha termina 50% depois da última letra */
}

/* Part 1 */
